<html>
<head>
    <h1>Welcome back!</h1>  
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <p color="red">This is the homepage test</p>
    <a class="btn" href="/create-container/sqli" target="_blank"><button type="button">Start Button</button></a>​
    <a class="btn" href="/delete-container" target="_blank"><button type="button">Stop Button</button></a>​

</body>
<%- include('./partials/footer.ejs') %>
</html>