<html>
<head>
    <h1>Welcome back!</h1>  
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <p color="red">This is the homepage test</p>
    <button id="startLabButton" type="button">Click Me!</button>
</body>
<%- include('./partials/footer.ejs') %>
</html>