<!DOCTYPE html>
<html>

<head>
    <title>HTML Login Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main">
        <h1>TSAcademy</h1>
        <h3>Enter your login credentials</h3>

        <form action="/login" method="POST">
            <label for="username">
                Username:
            </label>
            <input type="text" id="username" name="username" 
                placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" 
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <p>Not registered?
            <a href="/register" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>