.labs-section {
  padding: 6rem 8%;
}

.labs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Change from space-between to flex-start */
  gap: 2rem;
  margin-top: 3rem;
}

.lab-card {
  background-color: var(--card-background);
  border-radius: 12px;
  padding: 2rem;
  flex: 0 0 calc(33.333% - 1.4rem); /* Adjust calculation to account for gaps */
  max-width: calc(33.333% - 1.4rem);
  box-sizing: border-box;
  margin-bottom: 2rem; /* Add margin bottom for spacing between rows */
  transition: transform 0.3s;
}
.lab-card:hover {
  transform: translateY(-5px);
}
.lab-difficulty,
.lab-category {
  font-size: 0.9rem;
  color: #b0b0b0;
  background-color: rgba(139, 92, 246, 0.1);
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  width: fit-content;
  display: inline-block; /* Ensure they respect text-align: center */
  margin: 0.5rem auto; /* Add margin to center and space them */
}
.lab-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.lab-description {
  color: #b0b0b0;
  line-height: 1.6;
}

.lab {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.modal-content {
  background-color: var(--card-background);
  width: 80%;
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 10;
  align-items: center;
  text-align: center;
}
